
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/StyleSheet.css?ver=1" rel="stylesheet" type="text/css" />

    <title>Home</title>
</head>
<body>
    <div class="container"> 
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <img src="~/imagens/estabelecimento.png" class="img-responsive center-block" />
                    <div class="apresentacao">
                        <p>Listar estabelecimentos</p>
                    </div>
                </div>


            </div>
            <div class="col-lg-6">
                <a href="~/Estabelecimento/CadastrarEstabelecimento">
                    <img src="~/imagens/empresa_logo.png" class="img-responsive center-block" title="Cadastrar Empresa" />
                </a>
            </div>
            <div class="col-lg-6">
                <a href="~/Estabelecimento/ListarEstabelecimentos">
                    <img src="~/imagens/Listar_logo.png" class="img-responsive center-block" title="Listar Empresas" />
                </a>
            </div>
        </div>
    </div>
</body>
</html>
